body{
    background-color: rgb(238, 231, 231);
}
.top{
    height:60px;
}
.bg-dark{
    background-color:#232f3e;
}
.decorate{
    display: flex;
    flex-direction: column;
    color: white;
    list-style-type: none;
    margin:10px;
}
.header-logo{
    width: 100px;
    margin-left:20px;
    margin-right:20px;
    margin: 0 0px;
    margin-top: 18px;
}
.cart{
    color:white;
    margin:10px;
    margin-bottom: 12px;
}

.lineOne{
    font-size: 13px;
}
.lineTwo{
    font-size:18px;
}
.search-icon{
   background-color: #cd9042;
   height:38px;
   margin:5px;
   border-style: none;
   border-radius: 3px;

}
.header-search{
    width:700px;
    height:40px;
    border-radius: 3px;
}
.menu{
    background-color:rgb(1, 1, 22);
    color:white;
    height:40px;
    border:1px !important;
    margin:10px;
    margin-top:5px;
}
.letter{
    color:white;
}
.home-image{
    width:100%;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0));
}
.card{
    margin:10px;
}
.image-box{
    width:100%;
    height:400px;
}
.box{
    margin-top: -140px;
    margin-left:200px;
}
.productbox{
    margin-left: 200px;
}
.product-box{
    height:500px;
    width:100%;
}
.text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.button{
    border-radius: 5px;
    background-color: rgb(185, 153, 8);
    width:100px;
    margin: 20px;
    margin-left: 250px;
}
.fix{
    padding: 50px;
    list-style-type: none;  
}
.hmenu-item{
    width:200px;
    color: black;
    
}
.signbox{
    text-align: center;
    margin: 20px auto;
    width:500px;
}
